*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(223, 217, 217, 0.988);
}

h1{
    text-align: center;
}

form{
    width: 500px;
    margin: auto;
    background-color: rgb(230, 214, 214);
}

input, textarea, select{
    background-color: rgb(230, 214, 214);
}

.button{
    height: 30px;
    width: 80px;
}

.button:hover{
    height: 37;
    width: 87px;
}

@media screen and (orientation: portrait){
    form{
        width: 350px;
    }
    textarea{
        width: 200px;
        height: 100px;
    }
    h1{
        font-size: 1.7em;
    }
}